.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #044313;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.navbar-links{
    display: flex;
    gap: 15px;
}
.nav-btn{
    background: rgba(255, 255, 255, 0.15);
    color: white;
    border: 1px solid #e4efe7;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease;
    font-weight: bold;
}
.nav-btn:hover{
    background-color: white;
    color: #044313;
}
.nav-btn:active {
  transform: scale(0.95);    /* Shrink slightly when clicked */
}
.active-tab{
    background-color: white;
    color: #044313;
}